body {
    position: relative;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    padding: 50px 6% 120px;
}

h1 {
    color: blueviolet;
    text-align: center;
}

main p {
    max-width: 800px;
    text-align: center;
    margin: 20px auto;
}

.game {
    max-width: 800px;
    position: relative;
    margin: 20px auto;
    height: 450px;
    border: 1px black solid;
    overflow: hidden;
}

@media only screen and (max-width: 750px) {
    .game {
        height: 350px;
    }
}

@media only screen and (max-width: 550px) {
    .game {
        height: 250px;
    }
}